*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
.front-image {
  background: url(./beach3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
h2 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Segoe UI", Arial, sans-serif;
}
.front-image span {
  background-color: rgba(255, 193, 7, 0.67);
  padding: 0.6em 16px;
  width: 70%;
  position: absolute;
  bottom: 8.7%;
  left: 0;
}
.front-image span:hover {
  background-color: rgba(255, 193, 7, 0.6);
}

/* .card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
} */

.card-section img {
  border-top: 6px solid #ffc107;
  height: auto;
  width: 100%;
}
.upper-cards,
.lower-cards {
  margin-top: 30px;
  margin-bottom: 30px;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-1,
.card-2,
.card-3,
.card-4 {
  display: grid;
  gap: 12px;
  width: 46vw;
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
}
@media (max-width: 799px) {
  .container .front-image {
    height: 60vh;
    width: 100%;
  }
  .card-section {
    padding: 5px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 43vw;
  }
}
@media (max-width: 643px) {
  .container .front-image {
    height: 30vh;
    width: 100%;
  }
  .container .front-image span {
    display: none;
  }
  .card-section {
    padding: 10px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 100vw;
  }
}
