*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.front-image {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url(./beach3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.front-image span {
  background-color: rgba(255, 255, 0, 0.5);
  /* padding: 10px 600px 10px 10px; */
  width: 75%;
  line-height: 3rem;
  font-weight: 600;
  font-size: x-large;
  position: absolute;
  bottom: 10%;
  left: 0;
}
.front-image span:hover {
  background-color: rgba(255, 255, 0, 0.4);
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.card-section img {
  border-top: 4px solid orange;
  height: auto;
  width: 100%;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  font-size: larger;
  display: grid;
  gap: 15px;
  width: 45vw;
  display: flex;
  flex-direction: column;
  margin: 20px;
}
@media (max-width: 799px) {
  .container .front-image {
    height: 60vh;
    width: 100%;
  }
  .card-section {
    padding: 5px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 43vw;
  }
}
@media (max-width: 643px) {
  .container .front-image {
    height: 30vh;
    width: 100%;
  }
  .container .front-image span {
    display: none;
  }
  .card-section {
    padding: 10px;
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    width: 100vw;
  }
}
